<!doctype html>
<html>

<head>
  <title>Random Banned Book Reviews</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="text-center">
      <h1></span>Random Banned Book Review</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <a href="/profile" class="btn btn-default btn-sm">All Reviews</a>
    </div>
    <section>
      <% let rand = Math.random() %>
      <% rand %>

    </section>
    <!-- <div class="row">
      <section class='right'>
        <h3>Book Reviews</h3>
        <ul class="messages">
          <% rand = Math.random() %>
          <span><% rand %></span>

          <% for(var i=0; i<messages.length; i++) {%>

          <ul class="daBigOne">
            <li class="message">
              <span class="id"><%= messages[i]._id %></span>
              <h3 class="bookTitle"><%= messages[i].book %></h3>
            </li>
            <li class="message">
              <span><%= messages[i].review %></span> -Anonymous
            </li>
            <li class="message">
              <a href=<%= messages[i].link %> target="_blank">Link to Book</a>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          </ul>
          <% } %>
        </ul>
      </section>


        <% if (user.local.email) { %>
    <% } %> -->

  </div>

  <script src="main.js"></script>

</body>

</html>
